@model apka2.Models.ClinicalCenter

@{
    ViewData["Title"] = "Delete";
}
<body class="text-center" >
    <h3>Czy na pewno chcesz usunąć ten ośrodek kliniczny?</h3>
    <div>
        <hr />
        <dl class="row" style="margin-left:20%;">
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Street)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Street)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.BuildingNumber)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.BuildingNumber)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.LocalNumber)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.LocalNumber)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.City)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.City)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.PostalCode)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.PostalCode)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.CenterDescription)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.CenterDescription)
            </dd>
        </dl>
    
        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="USUŃ" class="btn btn-danger" />
            <a asp-action="Index" class="btn btn-primary">Powrót do listy ośrodków</a>
        </form>
    </div>
</body>