@model IEnumerable<apka2.Models.Servey>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PatientId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DoctorId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ECMO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Anuria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArterialHypertension)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Overhydration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AKI)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Creatinine)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Urea)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IonDisorder)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MetabolicAcidosis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExogenousPoison)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SepticShock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LowerNephroneSyndrom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Anticoagulation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TypeOfVascularAccess)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CatheterThickness)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CatheterLength)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VascularAccessSite)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PatientId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DoctorId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ECMO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Anuria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArterialHypertension)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Overhydration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AKI)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Creatinine)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Urea)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IonDisorder)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MetabolicAcidosis)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExogenousPoison)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SepticShock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LowerNephroneSyndrom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Anticoagulation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TypeOfVascularAccess)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CatheterThickness)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CatheterLength)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VascularAccessSite)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
