@model apka2.Models.Patient

@{
    ViewData["Title"] = "Details";
}

<h4>Dane pacjenta</h4>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Initials)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Initials)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BirthDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HospitalizationDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HospitalizationDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartOfCKRTDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartOfCKRTDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HasLiverFailure)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HasLiverFailure)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Weight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Weight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Height)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Height)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BSA)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BSA)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfDeath)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOfDeath)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Remarks)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Remarks)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edytuj dane pacjenta</a> |
    <a asp-action="Index">Powrót do listy pacjentów</a>
</div>
