@model apka2.Models.Procedure

@{
    ViewData["Title"] = "Details";
    var sessions = (IQueryable<ProcedureSession>) ViewData["sessions"];
}

<h1>Dane zabiegu</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SurveyId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SurveyId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Anticoagulation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Anticoagulation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProcedureDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProcedureDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ECMO)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ECMO)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Filter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Filter)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProcedureTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProcedureTime)
        </dd>
        @if (Model.Anticoagulation != "Cytrynian")
        {
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.ExtracorporealClearingMethod)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ExtracorporealClearingMethod)
            </dd>
        } else
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CitrateConcentrate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CitrateConcentrate)
            </dd>
        }

        @if (Model.WasEnded)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.UnplanedTermination)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.UnplanedTermination)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.TerminationReason)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.TerminationReason)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.BloodReturn)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.BloodReturn)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.PatientDeath)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.PatientDeath)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.DeathDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DeathDate)
            </dd>
        }
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Remarks)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Remarks)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edytuj dane zabiegu</a> |
    <a asp-action="Index">Powrót do listy zabiegów</a>
</div>

@if (!Model.WasEnded)
{
    <p><a asp-action="End" asp-route-id="@Model?.Id">Zakończ zabieg</a></p>

    <br>
    @if (sessions.Count() == 0)
    {
        <p>
            <a asp-controller="ProcedureSessions" asp-action="CreateInitial"
               asp-route-id="@Model.Id">Dodaj sesję</a>
        </p>
    } else {
        <p>
            <a asp-controller="ProcedureSessions" asp-action="CreateNext"
              asp-route-id="@Model.Id">Dodaj sesję</a>
        </p>
    }
} else
{
    <br>
}

<h3>Sesje zabiegu</h3>
<hr>

@if (sessions.Count() != 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    Lp.
                </th>
                <th>
                    QB [mg/min]
                </th>
                <th>
                    QD [mg/h]
                </th>
                <th>
                    Predylucja [mg/h]
                </th>
                <th>
                    Postdylucja [mg/h]
                </th>
                <th>
                    UF [mg/h]
                </th>
                <th>
                    TMP [mmhg]
                </th>
            </tr>
        </thead>
        <tbody>
            @{
                var cnt = 1;
                foreach (var session in sessions.OrderBy(s => s.Id))
                {
                    <tr>
                        <td>
                            @cnt
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => session.QBDose)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => session.QDDose)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => session.Predilution)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => session.Postdilution)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => session.UFDose)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => session.TMP)
                        </td>
                        <td>
                            <a asp-controller="ProcedureSessions"
                            asp-action="Details" 
                            asp-route-id="@session.Id"
                            >Szczegóły</a> |
                            <a asp-controller="ProcedureSessions"
                            asp-action="Delete"
                            asp-route-id="@session.Id">Usuń</a>
                        </td>
                    </tr>
                    cnt++;
                }
            }
        </tbody>
    </table>
}
