@model apka2.Models.Procedure

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Procedure</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndedOnSchedule)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndedOnSchedule)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BloodWasReturned)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BloodWasReturned)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReasonOfUnplannedTermination)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReasonOfUnplannedTermination)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PatientDied)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PatientDied)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfDeath)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOfDeath)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Remarks)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Remarks)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
