@model IEnumerable<apka2.Models.Procedure>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center">Zabiegi</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SurveyId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProcedureDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Remarks)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SurveyId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProcedureDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Remarks)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Szczegóły</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Usuń</a>
            </td>
        </tr>
}
    </tbody>
</table>

<p class="text-center" style="padding:100px" ;>
    <a class="btn btn-primary" asp-action="ExportDataToExcel">Generuj dane do excela</a>
</p>