@model apka2.Models.Doctor

@{
    ViewData["Title"] = "Details";
}

<body class="text-center">
    <h4>Dane lekarza</h4>

    <div style="margin-left:25%;">
        <hr />
        <dl class="row">
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.SecondName)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.SecondName)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Surname)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Surname)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.IsAdmin)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.IsAdmin)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Username)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Username)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Description)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Edytuj dane lekarza</a>
        <a asp-action="Index" class="btn btn-primary">Wróć do listy lekarzy</a>
    </div>
</body>
