@model apka2.Models.Doctor

@{
    ViewData["Title"] = "MyAccount";
}
<link rel="stylesheet" href="../Content/Home.css" />
<h4 class="text-center">Moje konto</h4>
<body >
    <table class="table">
        <thead class="table-light">
            <tr>
                <th>
                     @Html.DisplayNameFor(model => model.Username)
                </th>
                <th>
                    @Html.DisplayFor(model => model.Username)
                </th>
            </tr>
            <tr>
                <th>
                    Imię (imiona)
                </th>
                <th>
                    @Html.DisplayFor(model => model.Name) @Html.DisplayFor(model => model.SecondName)
                </th>
            </tr>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Surname)
                </th>
                <th>
                    @Html.DisplayFor(model => model.Surname)
                </th>
            </tr>
        </thead>
    </table>

    <p class="text-center">
        <a asp-controller="Doctors" asp-action="Delete" methods="get" class="btn btn-danger">Usuń konto</a>
    </p>
</body>