@model IEnumerable<apka2.Models.Survey>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center">Lista ankiet medycznych</h1>

<p class="text-center">
    <a asp-action="Create" class="btn btn-primary">Dodaj nową ankietę</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PatientId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SurveyDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Anticoagulation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PatientId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SurveyDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Anticoagulation)
            </td>
            <td>
                <a asp-controller="Procedures" asp-action="Start"
                   asp-route-id="@item.Id" methods="get">Rozpocznij zabieg</a> |
                <a asp-action="Edit" asp-route-id="@item.Id">Edytuj</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Szczegóły</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Usuń</a>
            </td>
        </tr>
}
    </tbody>
</table>
<p class="text-center" style="padding:100px";>
    <a class="btn btn-primary">Generuj dane do excela</a>
</p>
