@model apka2.Models.ProcedureSession

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ProcedureSession</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProcedureId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProcedureId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SessionType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SessionType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HeparinBolusDose)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HeparinBolusDose)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ACT)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ACT)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HeparinDose)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HeparinDose)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FraxiparinDose)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FraxiparinDose)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FraxiparinDosingTiming)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FraxiparinDosingTiming)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AntiXa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AntiXa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CitratesConcentration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CitratesConcentration)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CalciumCompensationPercent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CalciumCompensationPercent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IonizedCalcium)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IonizedCalcium)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalCalcium)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalCalcium)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HCO3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HCO3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Citrate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Citrate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CalciumCompensationMol)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CalciumCompensationMol)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QBDose)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QBDose)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QDDose)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QDDose)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Predilution)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Predilution)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Postdilution)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Postdilution)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UFDose)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UFDose)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TMP)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TMP)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
